<div>
  <input id="is_moving" type="checkbox" {{#if data.isMoving}}checked{{/if}}><label for="is_moving">Move and attack</label>
  {{> choiceTable melee}}
  <h2>Ranged</h2>
  {{> choiceTable ranged}}
</div>